body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #555;
}
img {
    width: 200px; /* Cambia este valor al tamaño que desees */
}
h2 {
    color: #777;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.contact-info {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info li strong {
    display: inline-block;
    width: 150px;
}

.projects {
    margin-top: 20px;
}

.projects h3 {
    color: #555;
}

.projects pre {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
img {
    width: 200px; /* Cambia este valor al tamaño que desees */
}